html, body {
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    /* Use system font */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 1.1rem;
    color: black;
    background-color: snow;
}

/* Layout elements */
header, main, footer {
    width: 90%;
    max-width: 52rem;
    margin: auto;
    display: block; /* Fix for IE11 */
}

.main, .footer {
    width: 100%;
    margin: auto;
}

.footer {
    margin-top: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: darkblue;
    color: lightgray;
    font-size: 1rem;
}

.footer p {
    text-align: right;
    margin: auto;
}

/* Text headings */
h1, h2, h3 {
    margin: 1rem auto;
    font-variant: small-caps;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
    border-bottom: 1px solid black;
}

h3 {
    font-size: 2rem;
}

a {
    color: blue;
    text-decoration: underline;
}

p, ul {
    line-height: 1.5;
}

/* Image grid */
.image-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    grid-gap: 4px;
}

.image-grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Image caption */
.image-caption {
    text-align: center;
    font-size: 1rem;
    font-style: italic;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
}

.image-caption img {
    max-width: 100%;
    max-height: 100%;
}

@media screen and (max-width: 425px) {
    .image-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}